name: Build
on:
  push:

jobs:
  build:
    name: Build Docker image
    runs-on: self-hosted-amd64-medium-privileged
    steps:
      - name: Checkout
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0

      - name: Build
        run: |
          make build
